<section class="home-container">
  <nav-bar links="categoryCtrl.links" active="categoryCtrl.active" click-link="categoryCtrl.changeCategory(category)"></nav-bar>
  <header-section search-videos="categoryCtrl.search(query)"></header-section>
  <div class="video-wrapper">
    <div class="video-container">
      <div class="figure-wrapper" ng-click="categoryCtrl.videoDetail(video)" ng-repeat="video in categoryCtrl.videos.data"> <!--ui-sref="home.categories.detail" -->
        <figure class="animated zoomIn">
          <img ng-src="{{video.pictures.sizes[2].link}}" alt="Video-img" width="300" height="170"/>
          <figcaption class="video-name">{{video.name}}.</figcaption>
        </figure>
      </div>
    </div>

    <div class="paginator">
      <div class="pagination-container">
        <uib-pagination total-items="categoryCtrl.totalVideos" ng-model="categoryCtrl.page" max-size="categoryCtrl.maxSize" class="pagination-sm"
                        items-per-page="categoryCtrl.perPage" ng-change="categoryCtrl.changePage()" boundary-link-numbers="true" rotate="false"></uib-pagination>
      </div>
    </div>
  </div>
  <footer-section></footer-section>
</section>