@font-face {
  font-family: 'AvenirNextLTPro';
  src: url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Regular.eot');
  src: url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Regular.woff') format('woff'),
  url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextLTPro';
  src: url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Demi.eot');
  src: url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Demi.woff') format('woff'),
  url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Demi.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'AvenirNextLTPro', sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100% !important;
}

.main-app-container {
  width: 100%;
  background-color: white;
  display: inline-block;
  position: absolute;
  top: 0;

  .main-view {
    width: 100%;
    height: 100%;
  }
}
