//break points
$xs-max-width: (max-width 599px);
$gt-xs-min-width: 600px;
$sm-width-range: 600px 959px;
$gt-sm-min-width: 960px;
$md-width-range: 960px 1279px;
$gt-md-min-width: 1280px;
$lg-width-range: 1280px 1919px;
$gt-lg-min-width: 1920px;
$xl-min-width: 1920px;

// General variables
$nav-bar-width: 300px;
$header-height: 70px;
$footer-height: 40px;
$header-bg-color: #fafafa;
$footer-bg-color: #eeeeee;
$border-color: #D2D2D2;
$video-text-color: #635592;

//navbar
$inactive-category-color: #aba4c1;
$hover-category-color: rgba(111,96,161,1);
$active-category-color: #FFFFFF;

//video detail
$title-color: #635492;