$gt-sm-min-width: 960px !default;

// General variables
$nav-bar-width: 300px !default;

//navbar
$inactive-category-color: #aba4c1 !default;
$hover-category-color: rgba(111,96,161,1) !default;
$active-category-color: #FFFFFF !default;

.nav-bar-container {
  width: $nav-bar-width;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  position: fixed;

  background: rgba(111,96,161,1);
  background: -moz-linear-gradient(top, rgba(111,96,161,1) 0%, rgba(83,70,125,1) 50%, rgba(44,34,77,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(111,96,161,1)), color-stop(50%, rgba(83,70,125,1)), color-stop(100%, rgba(44,34,77,1)));
  background: -webkit-linear-gradient(top, rgba(111,96,161,1) 0%, rgba(83,70,125,1) 50%, rgba(44,34,77,1) 100%);
  background: -o-linear-gradient(top, rgba(111,96,161,1) 0%, rgba(83,70,125,1) 50%, rgba(44,34,77,1) 100%);
  background: -ms-linear-gradient(top, rgba(111,96,161,1) 0%, rgba(83,70,125,1) 50%, rgba(44,34,77,1) 100%);
  background: linear-gradient(to bottom, rgba(111,96,161,1) 0%, rgba(83,70,125,1) 50%, rgba(44,34,77,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f60a1', endColorstr='#2c224d', GradientType=0 );

  @media (max-width: $gt-sm-min-width) {
    display: none;
    width: 0;
  }

  .close-nav {
    padding: 10px;
    display: none;
    float: right;
    color: $active-category-color;
    outline: none;

    @media (max-width: $gt-sm-min-width){
      display: inline-block;
    }

    a {
      cursor: pointer;
      color: $active-category-color;
      text-decoration: none;
    }
  }

  .app-name {
    cursor: pointer;
    height: 60px;
    margin-bottom: 30px;
    margin-left: 25px;
    width: 100%;
  }

  .nav-categories {
    p {
      outline: none;
      display: block;
      color: $inactive-category-color;
      padding: 0 10px;
      font-size: 20px;
      font-weight: normal;
      cursor: pointer;

      &::before {
        width: 5px;
        content: '';
        height: 35px;
        margin: 0 10px;
        display: inline-block;
        vertical-align: middle;
        background-color: $inactive-category-color;

      }

      &:hover{
        background-color: $hover-category-color;
        border-radius: 5px;
      }
    }
  }
}

.open {
  display: block;
  z-index: 2;
  width: $nav-bar-width;
}

p.active {
  color: $active-category-color !important;

  &::before {
    background-color: $active-category-color !important;
  }
}

