//break points
$gt-sm-min-width: 960px !default;

// General variables
$nav-bar-width: 300px !default;
$footer-height: 50px !default;
$border-color: #D2D2D2 !default;

.video-view {
  padding-bottom: $footer-height;
}

.video-view-wrapper {
  margin-left: $nav-bar-width;

  @media (max-width: $gt-sm-min-width) {
    margin-left: 0;
  }
}


.video-container {
  clear: both;
  overflow: scroll;
  padding-top: $header-height;
  position: relative;

  .video {
    position: relative;
    padding: 0 0 36.25%;
    height: 0;

    @media (max-width: 1600px) {
      padding: 0 0 46.25%;
    }

    @media (max-width: 1300px) {
      padding: 0 0 30%;
    }

    @media (max-width: 767px) {
      padding: 26.25%;
    }

    iframe {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
}


.video-data {
  color: #879cab;
  text-align: right;
  margin-left: $nav-bar-width;
  padding-right: 10px;
  border-bottom: 1px solid $border-color;

  @media (max-width: 960px) {
    margin-left: 0;
  }

  label {
    margin: 0 10px;

    &::before {
      display: inline-block;
      background: url('../../assets/images/vimeotest-assets.png') no-repeat;
      content: " ";
      width: 25px;
      height: 13px;
    }

    &:first-child {
      &::before {
        background-position: -37px 0;
      }
    }

    &:nth-child(2) {
      &::before {
        background-position: -37px -12px;
      }
    }

    &:nth-child(3) {
      &::before {
        background-position: -37px -26px;
      }
    }

    &:nth-child(4) {
      &::before {
        background-position: -37px -39px;
      }
    }
  }
}

.video-text {
  margin-top: 30px;
  margin-left: $nav-bar-width;
  padding-left: 20px;

  @media (max-width: $gt-sm-min-width) {
    margin-left: 0;
  }

  .title {
    margin-bottom: 20px;
    position: relative;
    margin-left: 75px;

    @media (max-width: 540px) {
      margin-left: 0;
    }
  }

  .image {
    width: auto;
    display: inline-block;
    position: absolute;
    left: -75px;
    top: 0;
    margin: 0;

    @media (max-width: 540px) {
      display: none;
    }

    img {
      border-radius: 50%;
    }
  }

  .video-name {
    width: auto;
    padding-right: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;

    @media (max-width: 540px) {
      margin-left: 0;
    }

    .video-title {
      width: $nav-bar-width;
      color: #635492;
      font-size: 40px;
      margin-bottom: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .video-description {
    width: 80%;
    margin-right: 20px;
    div {
      white-space: normal;
      display: block;
      display: -webkit-box;
      max-width: 100%;
      height: 73px;
      margin: 0 auto;
      font-size: 24px;
      line-height: 1.5;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: normal;
    }

    @media (max-width: 600px) {
      width: 100%;
      padding-right: 10px;
    }
  }
}

