<section class="video-view">
  <nav-bar links="vm.links" active="vm.active" click-link="vm.changeCategory(category)"></nav-bar>
  <header-section search-videos="vm.search(query)"></header-section>
  <div>
    <div class="video-view-wrapper">
      <div class="video-container">
        <div class="video">
          <iframe ng-src="{{vm.videoUrl}}" frameborder="0" webkitallowfullscreen mozallowfullscreen
                  allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="video-data">
      <label>{{vm.video.stats.plays | thousandSuffix}}</label>
      <label>{{vm.video.metadata.connections.likes.total | thousandSuffix}}</label>
      <label>{{vm.video.metadata.connections.pictures.total | thousandSuffix}}</label>
      <label class="video-comments">{{vm.video.metadata.connections.comments.total | thousandSuffix}}</label>
    </div>

    <div class="video-text">
      <div class="title">
        <div class="image">
          <img ng-if="vm.video.user.pictures.sizes[1].link"
               ng-src="{{vm.video.user.pictures.sizes[1].link}}" alt="User logo">
          <img ng-if="!vm.video.user.pictures.sizes[1].link" src="../../assets/images/vimeo-logo.png"
               alt="User logo" width="75" height="75">
        </div>
        <div class="video-name">
          <p class="video-title"><b>{{vm.video.name}}</b></p>
          <p>{{'video.OF' | translate}} <B>{{vm.video.user.name}}</B> | {{'video.SINCE' | translate}} <span
            am-time-ago="vm.video.created_time"></span></p>
        </div>
      </div>

      <div class="video-description">
        <div>{{vm.video.description}}</div>
      </div>
    </div>
  </div>
  <footer-section></footer-section>

</section>